   <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-chart-bar menu-icon"></i>
                </span> LES MODULES
              </h3>
            </div>
             <!-- <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task"routerLink="/create-evaluation">Add</button> -->
             <hr>
             <div class="row">
               <div class="col-md-4 stretch-card grid-margin" *ngFor="let m of module">
                 <a class="nav-link" data-bs-toggle="collapse" [routerLink]="['/apprenant/', m.id]">
                 <div class="card bg-gradient-primary font-weight-bold card-img-holder text-white">
                  <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h1 class="font-weight-normal mb-3"> {{m.nom }}<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h1>
                     <h4 class="mb-5">Volumehoraire:<br> &nbsp; &nbsp;{{m.volumehoraire}}</h4>
                    
                  </div>
                </div>
              </a>
              </div>
            </div>
              
          </div>

        </div>
